<section class="my-5 pt-3 ">
    <section class="container-fluid px-4 pt-4 pb-1 rounded w-75 mx-auto shadow bg-main-light mt-5">
        <div class="d-flex gap-3 align-items-center justify-content-center mb-4">
            <h1 class="text-center text-main h2 fw-bold">{{"wishlist.My wishlist" |translate}}</h1>
            <span class="fa-solid fa-heart fa-xl text-danger"></span>
        </div>
    
        <div class="row border-bottom mb-2">

            @for (item of wishList; track item.id) {

                <div class="col-md-1">
                <div><img [src]="item.imageCover" class="w-100" [alt]="item.title"></div>
            </div>
            <div class="col-md-11  pb-3">
                <div>
                    <h3 class="h5 media-name w-100">{{item.title}}</h3>
                  
                        <h3 class="h6 price-color fw-bold py-2">{{item.price | currency:' '}} EGP  </h3>
                        
                        <div class="d-flex align-items-center justify-content-between">

                          
                      <button class="btn btn-danger" (click)="removeItem(item.id)"> {{"wishlist.Remove" |translate}} <i class="fa-regular fa-trash-can "></i></button>         
                      <div class="count d-flex gap-2 align-items-center">
                        <button class="btn-main" (click)="addToCart(item.id)" >{{"wishlist.Add To Cart" |translate}}  <i class="fa-solid fa-cart-plus"></i></button> 
                         
                               </div>
                               
                        </div> 
                    
                </div>
                
                
                
            </div>
            <hr>
            
            }
            
        </div>
    
    </section>
</section>
