<section class=" bg-main-light shadow rounded-1 my-5 w-75 mx-auto">
    <div class="container">
        <div class="row p-5">
            
            <div class="col-md-6 g-4 product p-5">
                <div><img [src]="detalisCategories?.image" class="w-100" alt=""></div>
            </div>

            <div class="col-md-6 g-4 a">
                <div class="d-flex flex-column align-items-center">
                    <h1 class="fw-bold text-main">{{detalisCategories?.name}}</h1>
                    <h4>{{detalisCategories?.slug}}</h4>
                    
                </div>
            </div>

        </div>
    </div>
</section>
